* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {

  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  font-family: "Itim", cursive;
}

header {
  position: sticky;
  top: 0px;
  right: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 6;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.header-logo {
  font-family: "Itim", cursive;
  background-color: black;
  border-radius: 50%;
  margin: 4px 0;

}

.header-logo a {
  color: white;
  font-size: 13px;
  letter-spacing: 4px;
}

#menu-icon {
  display: none;
}

#close-icon {
  display: none;
}

header a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-family: "Itim", cursive;

}

header a:hover {
  background-color: black;
  color: white
}

main {

  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

h1 {
  font-size: 10rem;
  margin: 0;
}

h2 {
  font-family: "Londrina Outline", sans-serif;
  font-size: 4rem;
}

h3 {
  font-family: "Itim", cursive;
}

.title.second {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-size: 8rem;
  font-style: normal;
}

.title.first {
  font-family: "Itim", cursive;
  font-size: 7rem;
  font-weight: 400;
  font-style: normal;
}

h1 span {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  -webkit-text-stroke: 1px #000;
}

/* centered */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn {
  margin-top: 20px;
  margin-left: 10px;
  padding: 6px 40px;
  font-size: 1rem;
  border: 2px solid #000;
  background: none;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: -8px 8px black;
 
}
button.btn:hover{
  background-color: black;
  color: white;
  box-shadow: -8px 8px rgb(255, 255, 255);
  border: 2px solid #000;
}
.puzzle-piece {
  position: absolute;
  transform-origin: center;
  animation: float 5s infinite;
  z-index: 1;
  overflow: hidden;


}

#liveAlertPlaceholder {
  min-width: 330px;
  width: 30%;
  height: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* PROJECTS  */
#projects {
  background-color: #151618;
  color: #fff;
  padding: 5% 15%;
}
.ctn-projects{
  margin: 80px 0;

}
.ctn-project {

  display: flex;
  text-decoration: none;
   color: rgb(255, 255, 255);
   height: 500px;
   margin-top: 56px;
   padding-bottom: 56px;
  /*
  height: 800px;
 
  /* box-shadow: 0 1.5rem 3rem rgba(255, 255, 255, 0.2); */
  /* border-radius: 16px;
  margin: 30px; */ 

}

/* .ctn-project:hover {
  transition: transform 0.5s;
  transform: rotate(2deg) scale(1.2);


} */

.ctn-project-img {
 /* position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;*/
 transition: all 1s ease-out; 
 width: 50%;
 height: 100%;

}

.ctn-project-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* position: sticky; */
  /* top: 150px; */
  
}
.ctn-project-img img:hover{
  transition: transform 0.5s;
  transform: rotate(2deg) scale(1.05);
}

.ctn-project-body {
  padding: 0 36px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ctn-project-body-title {
  /* border-bottom: 0.8px solid rgb(134, 125, 125);
  border-top: 0.6px solid rgb(144, 127, 127); */
  padding: 20px 0;
  margin-bottom: 14px;
}
.ctn-project-body-title span{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 16px;
}
.ctn-project-body-subtitle p {
  color: #fff;
  font-size: 0.8rem;
}

.ctn-project-body-tech span {
  display: block;
  color: white;
  padding: 4px 10px;
  border-radius: 16px;
 
}
.ctn-project-body-tech span i{
 
  padding-right: 16px;
}

/* FORMULARIO */
#contact {
  padding: 50px;
  height: 90vh;

}

.ctn-form {

  flex-direction: column;
  width: 50%;

}

.ctn-form form {

  width: 100%;
  font-family: "Itim", cursive;


}

/* FOOTER */

.ctn-footer i {
  margin: 10px;
  font-size: 30px;
  padding: 12px;
  border-radius: 50%;

}
.ctn-footer i:hover{
  border: 1px solid white;
}
.ctn-end{
  height: 20vh;
  background-color: black;
  color: white;
  font-size: 12px;
  justify-content: space-around;
}
@keyframes float {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }

  25% {
    transform: rotate(15deg) translate(10px, -10px);
  }

  50% {
    transform: rotate(0deg) translate(-10px, 10px);
  }

  75% {
    transform: rotate(-15deg) translate(10px, 10px);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

.piece-1 {
  top: 10%;
  left: 10%;
  animation-delay: 0s;
  width: 200px;
  height: 200px;
}

.piece-2 {
  top: 5%;
  right: 10%;
  animation-delay: 1s;
  width: 100px;
  height: 100px;
}

.piece-3 {
  bottom: 5%;
  left: 15%;
  animation-delay: 2s;
  width: 100px;
  height: 100px;
}

.piece-4 {
  bottom: -5%;
  right: -12%;
  animation-delay: 3s;
  width: 400px;
  height: 450px;
}


@media (min-width: 1200px) {

  #menu-icon {
    display: none !important;
  }

  #close-icon {
    display: none !important;

  }

  nav {
    display: block !important;
  }
}

/*  RESPONSIVE DESIGN TABLET */
@media(max-width: 1199px) and (min-width: 769px) {
  
  #menu-icon {
    display: block;
  }

  nav {
    display: none;
  }

  .desplegable {
    background-color: rgb(255, 255, 255);
    display: block;
    width: 80%;
    position: absolute;
    top: 60px;
    border-radius: 0;
  }

  .desplegable2 {

    display: block;
    padding: 8px 20px;
  }

  header {
    justify-content: space-between;
    padding: 0 8%;

  }


  /* PROJECTS  */

  /* .ctn-projects {
   
  }

  .ctn-projects.centered {
    flex-direction: column;
  }

  .ctn-project {
    display: block;
   
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 400px;
    
    
    margin: 30px;
  }

  .ctn-project-img {
    width: 100%;
    height: 50%;
    border-radius: none;
  }

  .ctn-project-img img {
    width: 100%;
    height: 100%;
    border-radius:none;
  }

  .ctn-project-body {
   
    padding: 16px;
    width: 100%;
    display: block;
   

  }

  .ctn-project-body-subtitle p {
    color: gray;
    font-size: 0.8rem;
  } */

  
  /* Footer */
 
  .ctn-form {
  
    flex-direction: column;
    width: 70%;
  
  }
  

}

/* RESPONSIVE DESIGN CELLPHONE */
@media(max-width:768px) {
  main {
   padding: 10px;


  }

  #menu-icon {
    display: block;
  }

  nav {
    display: none;

  }

  header {
   
    justify-content: space-between;
    padding: 0 5%;
   
  }

  .title.second {
    font-family: "Londrina Outline", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    font-style: normal;
  }

  .title.first {
    font-family: "Itim", cursive;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
  }

  .desplegable {
    background-color: rgb(255, 255, 255);
    display: block;
    width: 90%;
    position: absolute;
    top: 60px;
    border-radius: 0;
  }

  .desplegable2 {
    width: 100%;
    display: block;

  }

  /* PROJECTS  */

  .ctn-projects {
    margin: 5%;
  }

  .ctn-projects.centered {
    flex-direction: column;
  }

  .ctn-project {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
    border: none;
   
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 70px;
          
  }

  .ctn-project-img {
    width: 100%;
    height: 50%;
    
   
    
  }

  .ctn-project-img img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .ctn-project-body {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 300px;
    

   
  }

  .ctn-project-body-subtitle p {
    color: gray;
    font-size: 0.8rem;
  }

 
  
/* FORMULARIO */
/* #contact {
  padding: 50px;
  height: 90vh;

} */

.ctn-form {

  flex-direction: column;
  width: 90%;

}


  /* FOOTER */
  .ctn-end{
  
    flex-direction: column;
  }
  /* .piece-1 { top: 10%; left: 10%; animation-delay: 0s; width: 200px; height: 200px; }
  .piece-2 { top: 5%; right: 10%; animation-delay: 1s;  width: 100px; height: 100px; }
  .piece-3 { bottom: 5%; left: 15%; animation-delay: 2s;  width: 100px; height: 100px;} */
  .piece-4 {
    display: none;
  }

}